body{
    background-image: url("@img/qwerty.jpg") 0 0 no-repeat;
    main{
        width: 400px;
        height: 400px;
        background-image: url("@img/qwerty.jpg");
        // background-color: #000;
    }
    span{
        color: black
    }
}